# KUIS 2 Pembelajaran Mesin

Nama : Kevin Natanael Wijaya  
NIM : 2041720091  
Kelas : TI-3B  

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [1]:
import pandas as pd

df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

Melihat Jumlah data Anggota yang terhapus untuk menentukan cara mengatasinya

In [2]:
df.isna().sum()

id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
keterlibatan_vltr      0
jml_vltr_terlibat      0
tahun                  0
skema                  0
luaran_hki             0
jenis_luaran_hki       0
potensi_hki            0
luaran_lain            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64

Menghapus kolom id_anggota5 dan mengisi data kosong pada kolom lainnya dengan nilai 0

In [3]:
df.drop('id_anggota5', axis=1)
df = df.fillna(0)
df.head(10)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
5,8008.0,7607.0,7903.0,7702.0,8905.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
6,8402.0,8803.0,9102.0,8804.0,8005.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
7,8101.0,7702.0,7308.0,8602.0,9003.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
8,0.0,8805.0,8807.0,8803.0,9003.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
9,8805.0,7206.0,7903.0,7702.0,9002.0,0.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

## Preprocessing Data

In [4]:
#Encode Data
from sklearn.preprocessing import LabelEncoder

ec = LabelEncoder()

df['keterlibatan_vltr'] = ec.fit_transform(df['keterlibatan_vltr'])
df['skema'] = ec.fit_transform(df['skema'])
df['luaran_hki'] = ec.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki'] = ec.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki'] = ec.fit_transform(df['potensi_hki'])
df['luaran_lain'] = ec.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain'] = ec.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain'] = ec.fit_transform(df['status_luaran_lain'])

df.head(10)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,0,0,2019,1,1,1,2,0,3,1
5,8008.0,7607.0,7903.0,7702.0,8905.0,0.0,0,0,2019,1,1,1,2,0,3,1
6,8402.0,8803.0,9102.0,8804.0,8005.0,0.0,0,0,2019,1,1,1,2,0,3,1
7,8101.0,7702.0,7308.0,8602.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
8,0.0,8805.0,8807.0,8803.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
9,8805.0,7206.0,7903.0,7702.0,9002.0,0.0,0,0,2019,1,1,1,2,0,3,1

1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)

In [5]:
# Split data dengan data testing 20%
from sklearn.model_selection import train_test_split
X = df.iloc[:, 0:9]
y = df.iloc[:, -1]
X = df.drop(['keterlibatan_vltr'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Standarisasi Data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

2. Tentukan data validasi! (10 poin)

In [6]:
from sklearn.model_selection import RepeatedKFold

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
# inisiasi repated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)
print(f'Jumlah fold: {cv.get_n_splits()}')
print(f'Obyek Fold: {cv}')

Jumlah fold: 12
Obyek Fold: RepeatedKFold(n_repeats=3, n_splits=4, random_state=42)

3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
  
Jadi saya memilih luaran_hki, potensi_hki, dan luaran_lain sebagai labelnya karena menurut saya hal tersebut yang paling masuk akal untuk dijadikan label karena merupakan hasil dari tim dengan anggotanya

In [7]:
# Menjadikan label sebagai 1 kolom
def label(x):
    if x['luaran_hki'] == 1 or x['potensi_hki'] == 1 or x['luaran_lain'] == 1:
        return 1
    else:
        return 0

df['label'] = df.apply(label, axis=1)

df.head(10)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain,label
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
5,8008.0,7607.0,7903.0,7702.0,8905.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
6,8402.0,8803.0,9102.0,8804.0,8005.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
7,8101.0,7702.0,7308.0,8602.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
8,0.0,8805.0,8807.0,8803.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1,1
9,8805.0,7206.0,7903.0,7702.0,9002.0,0.0,0,0,2019,1,1,1,2,0,3,1,1

4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)

## Decision Tree

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

params = {
    'criterion': ['entropy','gini'], 
    'max_depth': [2,4,6,8,10,12]
}

dt = DecisionTreeClassifier()
grid_random = GridSearchCV(dt, param_grid=params, cv=cv, n_jobs=-1)
result= grid_random.fit(X,y)

best_accuracy = grid_random.best_score_
best_parameters = grid_random.best_params_

print('Best Accuracy: {:.2f} %'.format(best_accuracy*100))

Best Accuracy: 98.85 %

## SVC

In [9]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

svc = SVC()

params = {
    'kernel' : ['linear', 'poly', 'rbf'],
    'degree' :[1,2,3,4,5,6,7,8,9,10] ,
    'C':[1,5,10,50],
}

grid_search = GridSearchCV(svc, param_grid=params, cv=cv, n_jobs=-1)
result= grid_search.fit(X,y)

best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_

print('Best Accuracy: {:.2f} %'.format(best_accuracy*100))

Best Accuracy: 97.26 %

Jadi Metode yang lebih baik yaitu dengan menggunakan Decision Tree Dengan Akurasi mencapai 98,85%

5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

Menggunakan Decision Tree

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11))
}

dt = DecisionTreeClassifier()
grid_random = RandomizedSearchCV(dt, param_distributions=params, n_iter=5 , cv=cv, n_jobs=-1, random_state=1)
result= grid_random.fit(X,y)

print('Hasil evaluasi: %s' % result.best_score_)
print('Konfigurasi hyperparameter: %s' % result.best_params_)

Hasil evaluasi: 0.9884559884559886
Konfigurasi hyperparameter: {'max_depth': 7, 'criterion': 'gini'}

Menggunakan SVC

In [11]:
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV

svc = SVC()

params = {
    'kernel' : ['linear', 'poly', 'rbf'],
    'degree' :[1,2,3,4,5,6,7,8,9,10] ,
    'C':[1,5,10,50],
}

grid_random = RandomizedSearchCV(svc, n_iter=5, param_distributions=params, cv=cv, n_jobs=-1)
result= grid_random.fit(X,y)

print('Hasil evaluasi: %s' % result.best_score_)
print('Konfigurasi hyperparameter: %s' % result.best_params_)

Hasil evaluasi: 0.9646464646464646
Konfigurasi hyperparameter: {'kernel': 'poly', 'degree': 2, 'C': 5}

Jadi Metode Klasifikasi terbaik dengan menggunakan Decision Tree Dengan Parameter {'max_depth': 8, 'criterion': 'gini'} dengan Akurasi 98,85%